@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;

}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;

}

header > p{
    padding-bottom: 50px;
    padding-left: 10px;

}

header a , footer a {
    color: white;
    text-decoration: none;
    
}

header a:hover , footer a:hover {
    background-color: darkslategray;
    text-decoration: underline;
   
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;



}


section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(107, 103, 103);
       color: white;
}

section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.111);
 
}

footer{
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

}
